append head
  link(rel="stylesheet" href="/stylesheets/footer.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

footer
  hr
  h2 Work with us
  div#contact_info_wrapper
    div.team_member
      p fName LastName
      a(href="my-linked-in")
      a(href="/") Link to Github
      a(href="/") Gmail
    div.team_member
      p fName LastName
      a(href="my-linked-in") Link to LinkedIn
      a(href="/") Link to Github
      a(href="/") Gmail
    div.team_member
      p fName LastName
      a(href="my-linked-in") Link to LinkedIn
      a(href="/") Link to Github
      a(href="/") Gmail

