include utils.pug

div(id="genre-container")
  h2(class="search-header" id="search-header") Search and browse movies
  input(id="search" class="search-bar" placeholder="Search for a movie.")
  each genreArray, index in genres
    +blockList(genreArray, index+1)
