
header(class="header")
  div.header_content
    div
      a(class="logo", href="/") cinemaroll
    div.header_nav
      a(class="util_btn" href="/") Home
      a(class="util_btn" href="/movies") My Movies
      div(id="browse_genres_dropdown" class="util_btn") Browse Genres
        div(id="dropdown_content")
          a(class="dropdown_item" href="/genres/1") Action
          a(class="dropdown_item" href="/genres/4") Comedy
          a(class="dropdown_item" href="/genres/7") Drama
          a(class="dropdown_item" href="/genres/9") Fantasy
          a(class="dropdown_item" href="/genres/11") Horror
          a(class="dropdown_item" href="/genres/13") Mystery
    .blank
    .navsearch
      div
        form(class="search" action="/search" method="post")
          input(type="text" name="search" class="inputfield" placeholder="Search movies" size="50")
      .blank
      div
        i(class="fas fa-search")
    .blank
    if locals.authenticated
      span Welcome #{user.first_name} #{user.last_name}!
      form(action ="/users/logout" method="POST")
        button(type='submit') Logout
    else
      form(action ="/users/login" method="GET")
        button(type='submit' class="util_btn") Login
      form(action ="/users/signup" method="GET")
        button(type='submit' class="util_btn") Signup
    .blank
