append head
  link(rel="stylesheet" href="/stylesheets/top-movies.css")



div#top_movies_wrapper
  h2 Top 15 most popular movies
  div#top_movies_grid
    each movie in topMovies
      div.movie_wrapper
        a(href= "/movies/"+movie.id)
          img(
            src= movie.posterPath
            alt= "movie poster for " + movie.title
          )
