extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  p THIS IS THE HOME PAGE
  p it needs to have
  ol
    li TWO RANDOM BLURB OF TEXT (?? maybe not)
    li TOP MOVIES SECTION
    li GENRES SECTION (done)
  hr
  include includes/top-movies.pug
  hr
  include includes/genres.pug

