extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  meta(name="title" property="og:title" content="Cinemaroll - A GoodReads clone")
  meta(property="og:type" content="Website")
  meta(name="image" property="og:image" content="https://i.ibb.co/c2GmhRR/screenshot-cinema-roll-herokuapp-com-2022-02-14-06-45-52.png")
  meta(name="description" property="og:description" content="A movie-themed GoodReads clone.")
  meta(name="author" content="Jay Spencer")

block content
  include includes/top-movies.pug
  include includes/genres.pug
