doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
   div(id= )

mixin blockList(arrayOfGenres, index)
    div(id= ${movie.name}+index)
        each genre in arrayOfGenres
          a(href=`/movies/${movie.id}/`)
            img(src=${movie.posterPath})
          br
