extends layout
include utils.pug
block content
    .mainContentContainer 
        .mainContent 
            .mainContentFloat 
                .leftContainer 
                    #topcolumn(class="col")
                        #imagecolumn(class="col") 
                            img(src=`${movieObj.poster_path}`)
                            p Movie Poster (above)
                            p Movie Lists (add or remove)
                            p Star Ratings here
                        #metacolumn(class="col") 
                            h1#movieTitle= movieObj.title
                            h2#movieDate= movieObj.release_date
                            span= movieObj.overview
                .rightContainer  
                    .smallHeadingContainer
                        h2.smallHeading Viewers also enjoyed 
                    .similarMovies
                        span Similar Movies Here?
                    .smallHeadingContainer 
                        h2.smallHeading Genres
                    span Not exactly sure what to put in here 
            .restOfContent  
                span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        