extends layout

append head
  link(rel="stylesheet" href="/stylesheets/mymovies.css")
  link(rel="stylesheet" href="/stylesheets/top-movies.css")
  link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css")
  script(src='/javascripts/lists.js')


block content
  This will contain a list of my movies
  div#mymovies_container
    div#sidebar
      div#sidebar_label Watch Lists
    div#movie_container
      //include includes/list-routes-test.pug
      div#top_movies_grid-4
        each movie in movies
          div.movie_wrapper
            a(href= "/movies/"+movie.id)
              img(
                src= movie.posterPath
                alt= "movie poster for " + movie.title
              )
