extends layout
append head
    link(rel="stylesheet" href="/stylesheets/genres.css")

block content
    .mainContentContainer
        .mainContent 
            .mainContentFloat 
                .leftContainer 
                    #topcolumn(class="col")
                        if results 
                            .movies-container
                                .genre-heading
                                    p.genre-name=`${results.length} Search results:`
                                .genre-container
                                    each movie in results 
                                        .movie-item 
                                            a(href=`/movies/${movie.id}`)
                                                img(src=`${movie.posterPath}`) 
        
