extends layout.pug

include includes/utils.pug

body
    each movie in actionMovies
        img (src= ${movie.posterPath} )
    
mixin blockList(arrayOfGenres, index)
    div(id=${movie.name}+index)
        each genre in arrayOfGenres
          a(href=`/movies/${movie.id}/`)
            img(src=${movie.posterPath})
          br
