.mainContentContainer {
  width: 100%;
  text-align: center;
  display: grid;
}

.mainContent {
    margin: 0px auto;
    text-align: left;
    width: 970px;
    background: #FFF;
}

.mainContentFloat {
    width: 960px;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 12px;
    min-height: 400px;
    background: #FFF;
}

.leftContainer {
    float: left;
    width: 625px;
    padding: 0px 10px 0px 8px; 
}

#topcolumn {
    width: 100%;
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
}

#metacolumn {
    width: 100%;
}

.movieTitleContainer {
    text-align: center;
}

.col {
    float: left;
    margin: 0px 20px 10px 0px;
}

.col img {
    height: 230px;
    width: 150px;
}

.rightContainer {
    float: left;
    width: 300px;
    display: inline;
    margin: 0px 0px 0px 8px;
}

.reviewContent {
    margin: 0px auto;
    text-align: left;
    width: 970px;
    background: #FFF;
}

.smallHeadingContainer {
    height: 28px;
    margin: 10px 0px 5px 0px;
}

.smallHeading {
    border-bottom: 1px solid;
}

.reviewContainer {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 25%;
}

.reviewHeader {
    font-size: 14px;
}

.reviewTitle {
    font-weight: bold;
}

.reviewMeta {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.reviewDate {
    text-align: right;
}

h1 {
    color: #333333;
    font-size: 24px;
    line-height: 1.25;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}