footer {

  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  align-items: center;
  justify-content: space-evenly;

  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;

  padding: 30px 0;
  border-top: 1px gray solid;
  background-color: #f9f8f4;

}

#source_code_label {
  grid-area: a;
  align-self: center;
  justify-self: center;
}
#repo_information {
  grid-area: c;
  padding-top: 30px;
  align-self: center;
  justify-self: center;
}
#work_with_us {
  grid-area: b;
  align-self: center;
  justify-self: center;
}

#contact_info_wrapper {
  grid-area: d;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.team_member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px 40px;
}

footer > h2 {
  font-size: 25px;
}

footer a {
  padding: 0 5px;
}

.names {
  font-weight: bold;
}

.social_media_icons {
  display: flex;
  flex-direction: row;
}
