footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;

  padding: 0;
  border-top: 1px gray solid;
  background-color: #f9f8f4;

}

#contact_info_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px red solid;
  width: 100%;
}

.team_member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px 40px;
}

footer > h2 {
  font-size: 25px;
}

footer a {
  padding: 0 5px;
}

.names {
  font-weight: bold;
}

.social_media_icons {
  display: flex;
  flex-direction: row;
}
