#genre-container{
    display: grid;
    grid-template-rows: 30px 35px 100px;
    grid-template-columns: repeat(4, 150px);
    grid-template-areas:
        ". a a ."
        ". b b ."
        "c d e f";
}

#search-header{
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    grid-area: a;
}

.search-bar{
    background-color: black;
    grid-area: b;
    background: url("../icons/magnifying_glass-a2d7514d50bcee1a0061f1ece7821750.png") right center no-repeat;
    border-radius: 5px;
    border: 2px solid #999;
    padding: 5px;
}

#genres-1{
    grid-area: c;
}
#genres-2{
    grid-area: d;
}
#genres-3{
    grid-area: e;
}
#genres-4{
    grid-area: f;
}

#genre-container a{
    color: rgb(0, 99, 93);
    text-decoration-line: none;
    line-height: 21px;
    text-decoration-color: rgb(0, 99, 93);
    font-size: 14px;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

#genre-container a:hover{
    text-decoration: underline;
}

