.movies-container {
    display: grid;
    grid-template-rows:repeat(5, auto);
}

.genre-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.rightContainerGrid {
    float: right;
    width: 100px;
    display: inline;
    margin: 0px 0px 0px 8px;
}

a {
    text-decoration: none;
}

.genre-heading {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 8rem;
    user-select: none;
}

.line {
    flex: 1;
    background-color: #333;
    height: 0.1rem;
    width: 60%;
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 5px;
}