.movies-container {
    display: grid;
    grid-template-rows:repeat(5, auto);
}

.genre-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.rightContainerGrid {
    float: right;
    width: 100px;
    display: inline;
    margin: 0px 0px 0px 8px;
}

.smallHeadingContainer a {
    text-decoration: none;
}