.header {
  display: flex;
  box-sizing: border-box;
  height: 50px;
  background: #F4F1EA;
  border-bottom: 1px gray solid;
  display: flex;
  justify-content: center;
}

.header_content {
  max-width: 1250px;
  display: flex;
  justify-content: center;
}

.header_nav {
  display: flex;
  align-items: flex-start;
}

.logobox {
  margin: 15px 20px 0px 15px;
}

.logo {
  color: #382110;
  font-size: 2.2rem;
  text-decoration: none;
  user-select: none;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 1.5rem;
}

.nav-links > * {
  display: inline-block;
}
.nav-links a {
  text-decoration: none;
  color: rgb(143, 67, 25);
}
.nav-links > * {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.blank {
  height: 50px;
  width: 5px;
  margin: 0 auto;
}

.navsearch {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0 auto;
  background: #F4F1EA;
  align-items: center;
}

.inputfield {
  padding: 8px;
}

.search_btn {
  height: 68%;
  border: none;
  background: rgb(143, 67, 25);
  outline: none;
  cursor: pointer;
}
.util_btn {
  text-decoration: none;
  background-color: #F4F1EA;
  color: #382110;
  padding: 0px 16px;
  font-size: 16px;
  height: 100%;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.util_btn:hover, .util_btn:focus {
  background-color: #382110;
  color: #FFF;
}


/* 000000000000000000 */
#browse_genres_dropdown {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

#dropdown_content {
  display: none;
  position: absolute;
  z-index: 1;
  /* margin-top: 16px; /*must be the same as util_btn bottom padding*/
  flex-direction: column;
  align-items: flex-start
  justify-content: flex-start;
  color: black;
  width: 100%;
  padding: 10px 10px 0 10px;
  background-color: white;

  /* https://stackoverflow.com/questions/5790615/can-you-make-an-invisible-border */
  top: 49px; /* ... -_-7 */
  border-top: 1px solid transparent;


}

#dropdown_content:hover, #browse_genres_dropdown:hover #dropdown_content{
  display: flex;
}

.dropdown_item {
  text-decoration: none;
  margin-bottom: 10px;
}


