body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

main {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px red solid;
}

#top_movies_wrapper {
  padding-top: 40px;
}

#genre-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
