body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top_movies_wrapper {
  padding-top: 40px;
}

#genre-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
