#mymovies_container {
  display: flex;
  flex-direction: row;
  background-color: red;
}

#sidebar {
  min-width: 200px;
  background-color: lightblue;
}

#sidebar_label {
  display: flex;
  justify-content: center;
  background-color: yellow;
}

#movie_container {

}
