#list-test {
 background: green;
 min-height: 200px;
}

#mymovies_container {
  display: flex;
  flex-direction: row;
  background-color: red;
}

#sidebar {
  min-width: 200px;

  background-color: lightblue;
}

#sidebar_label {
  display: flex;
  justify-content: center;
  background-color: yellow;
}

#movie_container {

}

.listItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.movie_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px blue solid;
}

input.util_btn {
  min-height: 30px;
  border-radius: 5px;
}
