#top_movies_wrapper {
  max-width: 1000px;
  padding-bottom: 30px;
}

.movie_wrapper {
  max-width: 200px;
};

.movie_wraper > a {
  width: 100%;
}
.movie_wrapper > a >  img {
  max-width: 100%;
  height: auto;
}

#top_movies_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

/* dry up later */
#top_movies_grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

#top_movies_wrapper > h2 {
  font-size: 25px;
  padding-bottom: 20px;
}
